@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TAEBAEKmilkyway', sans-serif; /* 적용할 글꼴 선택 */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.buttons {
  margin-bottom: 20px;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(221, 176, 229, 1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(191, 101, 207, 1);
}

.button:focus {
  outline: none;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.restaurant {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant img {
  width: 100%;
  border-radius: 10px;
}

.restaurant-info {
  margin-top: 10px;
}

.restaurant-info h2 {
  margin-bottom: 5px;
}

.restaurant-info p {
  margin: 5px 0;
}
